.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 100px;
  overflow: hidden;
  /* parameters for the header section */
}

.logo {
  background-position: center;
  background-size: cover;
  width: 154px;
  height: 31px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.png);
}

.header__title {
  max-width: 730px;
  margin-left: 64px;
  padding: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  padding: 0;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-image {
  /*background-image: url(../images/header-image.png);*/
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
}

.description {
  margin-bottom: 100px;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 30px 0 0 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
}

.section-title {
  margin: 0 auto 20px;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  text-align: center;
  margin: auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
} 

.table {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-right: 0;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;
  padding: 0;
}

.feynman {
  height: 790px;
  padding-top: 100px;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  background-color: #f2f2f2;
}

.feynman__title {
  text-align: center;
  margin: auto;
  max-width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 4;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 2;
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

/* including elements with key-value modifiers */
/*comment out until we get to this portion*/
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.footer {
  display: flex;
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  position: relative;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.png);
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  margin: 0;
  padding: 0 0 20px 0;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list-item {
  padding: 0;
}

.footer__column-links:nth-of-type(3n){
  padding-bottom: 16px;
}

.footer__link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}